* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-size:13px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 30px;
}

.library{
    min-height:80vh;
    position:relative;
}
.footer{
    display:flex;
    font-size: 10px;
    color:grey;
    gap:13px;
    position: absolute;
    bottom:0;
}
.footer a{
    color:grey;
}

.right{
    margin:16px 0px;
}
.header{
    display:flex;
    justify-content:space-between;
    gap:4px;
    background-color: rgb(34 34 34);

}
.header > *{
    padding: 20px;
}
.spotifyPlaylists{
    padding:16px;
    }

.cardContainer{
        margin:30px;
        display:flex;
        gap:10px;
        flex-wrap: wrap;
    }
.card{
    width:200px;
    padding:10px;
    border-radius: 5px;
    background-color: grey;
}
.card img{
    width:100%;
    border-radius: 5px;
    object-fit: contain;
}
.card >*{
    padding-top:10px;
}
