.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
    /* to convert the images to white if its black */
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* ===== Custom Dark Scrollbar ===== */

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #111;   /* dark background */
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: #2a2a2a; 
  border-radius: 10px;
  border: 2px solid #111;  /* creates padding effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

/* ===== Firefox Support ===== */
html {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a #111; /* thumb track */
}